<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See you again!</title>

    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="root">
        <div class="row justify-center">
            <div class="col-sm-5">
                <div class="img m-4">
                    <img src="/img/logging-off.png" alt="Image">
                </div>

                <h1 class="text-center m-4">You left!</h1>
            </div>
        </div>
    </div>
</body>
</html>